[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Picobrowser.Py
Comment=Picobrowser.Py
Exec=python3 /home/alex/picobrowser.py
Terminal=false
StartupNotify=true
PrefersNonDefaultGPU=false
Icon=/home/alex/Scaricati/pico.png
